/vendor
/node_modules


/storage/*.key
/storage/*.index
/storage/*.xlsx

.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea
.idea/vcs.xml
public/fonts/vendor/video.js/
.DS_Store
package-lock.json
yarn.lock
bun.lockb
_ide_helper.php
!/storage/
storage/tmp/
.env
